<div id="skills" class="container my-5">
    <h2 class="mb-4">Skills</h2>

    <div class="row">
        <!-- Languages -->
        <div class="col-md-6 mb-4">
            <h5>Languages</h5>
            <div class="d-flex flex-wrap">
                <div class="skill-item me-3 mb-2">
                    <img src="java.svg" alt="Java" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="python.png" alt="Python" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="c.png" alt="C" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    C
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="javascript.png" alt="JavaScript" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    JavaScript
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="typescript.png" alt="TypeScript" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    TypeScript
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="sql.png" alt="SQL" class="skill-icon">
                    SQL
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/htmlcss.svg" alt="HTML/CSS" class="skill-icon">
                    HTML/CSS
                </div>
            </div>
        </div>

        <!-- Frameworks and Libraries -->
        <div class="col-md-6 mb-4">
            <h5>Frameworks and Libraries</h5>
            <div class="d-flex flex-wrap">
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/flask.svg" alt="Flask" class="skill-icon">
                    Flask
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/pandas.svg" alt="Pandas" class="skill-icon">
                    Pandas
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/numpy.svg" alt="NumPy" class="skill-icon">
                    NumPy
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/springboot.svg" alt="Spring Boot" class="skill-icon">
                    Spring Boot
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="angulat.png" alt="Angular" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    Angular
                </div>
                <div class="skill-item me-3 mb-2" >
                    <img src="nodejs.png" alt="Node.js" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    Node.js
                </div>
            </div>
        </div>

        <!-- Databases -->
        <div class="col-md-6 mb-4">
            <h5>Databases</h5>
            <div class="d-flex flex-wrap">
                <div class="skill-item me-3 mb-2">
                    <img src="mysql.png" alt="MySQL" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    MySQL
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="chroma.png" alt="ChromaDB" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    ChromaDB
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="mongodb.png" alt="MongoDB" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    MongoDB
                </div>
                                <div class="skill-item me-3 mb-2">
                    <img src="postgres.png" alt="PostgreSQL" class="skill-icon" style="max-width: 50px; max-height: 50px;">
                    PostgreSQL
                </div>
            </div>
        </div>

        <!-- Tools and Platforms -->
        <div class="col-md-6 mb-4">
            <h5>Tools & Platforms</h5>
            <div class="d-flex flex-wrap">
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/github.svg" alt="GitHub" class="skill-icon">
                    GitHub
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/jira.svg" alt="Jira" class="skill-icon">
                    Jira
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/confluence.svg" alt="Confluence" class="skill-icon">
                    Confluence
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/office365.svg" alt="Office 365" class="skill-icon">
                    Office 365
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/postman.svg" alt="Postman" class="skill-icon">
                    Postman
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/kubernetes.svg" alt="Kubernetes" class="skill-icon">
                    Kubernetes
                </div>
            </div>
        </div>

        <!-- IDEs -->
        <div class="col-md-6 mb-4">
            <h5>IDEs</h5>
            <div class="d-flex flex-wrap">
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/intellij.svg" alt="IntelliJ" class="skill-icon">
                    IntelliJ
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/visualstudio.svg" alt="Visual Studio" class="skill-icon">
                    Visual Studio
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/pycharm.svg" alt="PyCharm" class="skill-icon">
                    PyCharm
                </div>
                <div class="skill-item me-3 mb-2">
                    <img src="assets/icons/eclipse.svg" alt="Eclipse" class="skill-icon">
                    Eclipse
                </div>
            </div>
        </div>
    </div>
</div>
