
<!-- resume.component.html -->
<div id="skills" class="container my-5">
  <h2 class="title">Technical Skills</h2>
  <div class="row">

    <!-- Languages -->
    <div class="col-md-6 mb-4 card-section">
      <h5 class="subtitle">Languages</h5>
      <div class="d-flex flex-wrap">
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="java.svg" alt="Java" class="skill-icon">
          <div>Java</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="python.png" alt="Python" class="skill-icon">
          <div>Python</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="c.png" alt="C" class="skill-icon">
          <div>C</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="javascript.png" alt="JavaScript" class="skill-icon">
          <div>JavaScript</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="typescript.png" alt="TypeScript" class="skill-icon">
          <div>TypeScript</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="sql.png" alt="SQL" class="skill-icon">
          <div>SQL</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="html.png" alt="HTML" class="skill-icon">
          <div>HTML</div>
        </div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up">
          <img src="css.png" alt="CSS" class="skill-icon">
          <div>CSS</div>
        </div>
      </div>
    </div>

    <!-- Frameworks and Libraries -->
    <div class="col-md-6 mb-4 card-section">
      <h5 class="subtitle">Frameworks & Libraries</h5>
      <div class="d-flex flex-wrap">
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="fastapi.png" class="skill-icon" ><div>FastAPI</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="seaborn.png" class="skill-icon"><div>Seaborn</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="pandas.png" class="skill-icon"><div>Pandas</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="numpy.png" class="skill-icon"><div>NumPy</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="spring-boot.png" class="skill-icon"><div>Spring Boot</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="spring.png" class="skill-icon"><div>Spring</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="angular.png" class="skill-icon"><div>Angular</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="react.png" class="skill-icon"><div>React</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="nodejs.png" class="skill-icon" style="max-width: 180px;"><div></div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="langchain.png" class="skill-icon" style="max-width: 180px;"><div></div></div>
      </div>
    </div>

    <!-- Databases -->
    <div class="col-md-6 mb-4 card-section">
      <h5 class="subtitle">Databases</h5>
      <div class="d-flex flex-wrap">
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="mysql.png" class="skill-icon"><div>MySQL</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="chromadb.png" class="skill-icon" style="max-width: 70px;"><div>ChromaDB</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="mongo.png" class="skill-icon"><div>MongoDB</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="postgres.png" class="skill-icon"><div>PostgreSQL</div></div>
      </div>
    </div>

    <!-- IDEs -->
    <div class="col-md-6 mb-4 card-section">
      <h5 class="subtitle">IDEs</h5>
      <div class="d-flex flex-wrap">
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="intellij.png" class="skill-icon"><div>IntelliJ</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="vs-code.png" class="skill-icon"><div>VS Code</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="pycharm.png" class="skill-icon"><div>PyCharm</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="eclipse.png" class="skill-icon"><div>Eclipse</div></div>
      </div>
    </div>

    <!-- Tools & Platforms -->
    <div class="col-md-6 mb-4 card-section">
      <h5 class="subtitle">Tools & Platforms</h5>
      <div class="d-flex flex-wrap">
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="jira.png" class="skill-icon"><div>Jira</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="confluence.png" class="skill-icon"><div>Confluence</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="office.png" class="skill-icon"><div>Office 365</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="postman.png" class="skill-icon"><div>Postman</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="kubernetes-3.png" class="skill-icon"><div>Kubernetes</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="github-actions.png" class="skill-icon"><div>GitHub Actions</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="github.png" class="skill-icon"><div>GitHub</div></div>
        <div class="skill-item me-3 mb-2" data-aos="fade-up"><img src="jupyter.png" class="skill-icon"><div>Jupyter</div></div>
      </div>
    </div>

  </div>
</div>
