<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100" tabindex="0">

<nav class="navbar navbar-expand-md border-bottom mb-3 sticky-top bg-white">
  <div class="container">
    <ul class="nav justify-content-center w-100">
      <li class="nav-item"><a class="nav-link subtitle" href="#home">Home</a></li>
      <li class="nav-item"><a class="nav-link subtitle" href="#skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link subtitle" href="#projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link subtitle" href="#contact">Contact</a></li>
    </ul>
  
      <!-- Right aligned icons -->
      <div class="position-absolute end-0 top-50 translate-middle-y me-3 d-flex">
        <a href="https://github.com/priyagill0" target="_blank" class="me-2">
          <img src="github.png" alt="GitHub" class="contact-icon">
        </a>
        <a href="https://www.linkedin.com/in/priyagill-" target="_blank" class="me-2">
          <img src="LinkedIn.png" alt="LinkedIn" class="contact-icon">
        </a>
        <a href="mailto:priyakgill0@gmail.com" class="me-2">
          <img src="email.png" alt="Email" class="contact-icon">
        </a>
      </div>
    </div>
  </nav>

<div id="home">
    <app-home></app-home>
</div>

<hr class="my-5">


<div id="skills">
    <app-resume></app-resume>
</div>

<hr class="my-5">

<div id="projects">
    <app-portfolio></app-portfolio>
</div>

<!-- <hr class="my-5"> -->

<div id="contact">
    <app-contact></app-contact>
</div>
</body>