<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#Skills">Skills</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#projects">Projects</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#contact">Contact</a> 
            </li>
        </ul>
    </div>
</nav>

<div id="home">
    <app-home></app-home>
</div>

<hr class="my-5">


<div id="skills">
    <app-resume></app-resume>
</div>

<hr class="my-5">

<div id="projects">
    <app-portfolio></app-portfolio>
</div>

<hr class="my-5">

<div id="contact">
    <app-contact></app-contact>
</div>