<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="profile.jpeg" alt="Profile Picture" class="rounded-circle" width="256" height="">
                <p>Hi, I'm Priya Gill, a software engineer with a passion for building innovative solutions. I love coding and exploring new technologies.</p>
            </div>
        </div>
        <!-- Featured Projects -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <p>here are my projects!!</p>
            </div>
        </div>
    </div>
</div>